<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Angular API Denemeleri</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, deserunt.
      Nobis natus iure ratione ut cupiditate doloribus, dignissimos itaque
      libero!
    </p>

    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Ad - Soyad</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">E Mail</th>
            <th scope="col">Website</th>
          </tr>
        </thead>
        <tbody *ngFor="let post of posts">
          <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.name }}</td>
            <td>{{ post.username }}</td>
            <td>{{ post.email }}</td>
            <td>{{ post.website }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a (click)="loadPosts()" class="btn btn-lg btn-primary" role="button"
      >Call Now
    </a>
  </div>
</main>
